<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="csshomepage/homepage.css">
  <link rel="icon" href="imghomepage/logo.png" type="image/x-icon">
  <title>E-Debug</title>
</head>


<body>

  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="/">
            <h1><span>E-</span>Debug <span></h1>
          </a>
        </div>
        <div class="nav-list">

          <div class="hamburger">
            <div class="bar"></div>
          </div>
          
          <ul>
            <li><a href="/" data-after="Home">Home</a></li>
            <li><a href="#projects" data-after="Projects">User Guide</a></li>
          </ul>
        
        </div>
      </div>
    </div>
  </section>

  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Learn <span></span></h1>
        <h1>To Debug<span></span></h1>
        <h1>The Code Faster<span></span></h1>
        <a href="/question" type="button" class="cta">Start</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  <!-- Round 1 Section -->
  <section id="projects">
    <div class="projects container">
      <div class="projects-header">
        <h1 class="section-title"><span>User</span>  Guide </h1>
      </div>
      <div class="all-projects">
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 1</h1>
            <h2 style="color: crimson;">Goal of E-Debug</h2>
            <p>Our goal is to help you to improve Debugging ability on Data Structures and Algorithm Based Problems.
            </p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 2</h1>
            <h2 style="color: crimson;">What Type of Questions Will be Given?</h2>
            <p>For every question you will be given with the problem statement along with the wrong code in C++ Language.
              You have to identify the test case for which given Wrong code will fail to produce correct output according to the problem statement.
            </p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 3</h1>
            <h2 style="color: crimson;">What is Answer?</h2>
            <p>There might be multiple test cases for which wrong code will fail. System will generate 3 random test cases. you have to identify the test case for which given Wrong code will fail to produce correct output according to the problem statement. If above the genrated test case doesn't contains such test case then you have to give your own test case in the given format as 4th Option.
            </p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 4</h1>
            <h2 style="color: crimson;">Checking your Answer</h2>
            <p>To check the validity of your test case, you have to run the wrong code with your test case by providing your test case on the input box or Select any of the 3 System generated option and clicking on the run code button.</p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 5</h1>
            <h2 style="color: crimson;">Checking your Answer</h2>
            <p>After clicking on the run code button, a popup will appear if the provided test case is correct. You can see expected output according to problem statement along with wrong code's output.
              </p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 6</h1>
            <h2 style="color: crimson;">How to Skip Questions?</h2>
            <p> Questions can be skipped by clicking on Next Button. 
              </p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 7</h1>
            <h2 style="color: crimson;">Question Sequence</h2>
            <p>Same Questions Can be appeared more than one. You can target to solve the question in less time. It will help to increase your debugging capability more.</p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 8</h1>
            <h2 style="color: crimson;">How to Submit?</h2>
            <p> You can leave from the questions solving page to home page by just clicking on the Submit Button.
            </p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 9</h1>
            <h2 style="color: crimson;">Donot Refresh Page</h2>
            <p>On Refreshing the page, the current question will be skipped and you will be redirected to the next question.</p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
        <div class="project-item">
          <div class="project-info">
            <h1>GUIDE 10</h1>
            <h2 style="color: crimson; ">Red Flagged Rule</h2>
            <p>Each of your submissions are being logged in the system. we will do a system side evaluation of all the inputs received. If there is any instance of input which is out of respective constraints, respective IP will be flagged and thus You will be redirected to the home page.</p>
          </div>
          <div class="project-img">
            <img src="imghomepage/img1.avif" alt="img">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Round 1 Section -->

  <!-- Footer -->
  <section id="footer">
    <div class="footer container">
      <div class="brand">
        <h1><span>E-</span>Debug <span></span></h1>
      </div>
      <h2>Projected Guided by Dr. S.R. Balasundaram</h2>
      <h2>Department of Computer Application, NIT TRICHY</h2>
      <h2>Developed in E-learning and HCI Lab</h2>
      <div class="social-icon">
        <div class="social-item">
          <a href="https://www.linkedin.com/in/avig10/"><img src="https://img.icons8.com/bubbles/100/000000/linkedin.png" /></a>
        </div>
        <div class="social-item">
          <a href="https://github.com/AviG10"><img src="https://img.icons8.com/bubbles/100/000000/github.png" /></a>
        </div>
      </div>
      <p>Made With ❤️ by AVIJIT</p>
    </div>
  </section>
  <!-- End Footer -->

  <script src="jshomepage/homepage.js"></script>
</body>

</html>